@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
 
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
 
.corDeFundo {
    background-color: rgba(29, 28, 28, 0.808);
}

.hamburguer{
  background-color: rgba(255, 0, 0, 0);
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 100;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.show-menu .hamburguer{
      right: 16rem;
     
}

.line{
  width: 100%;
  background-color: white;
  height: .1rem;
  box-shadow: 0.1rem 0.1rem 1px black;
  transition: transform 1s ;
}

.show-menu #line1{
  transform: rotate(50deg) translate(.3rem, .1rem);
}

.show-menu #line2{
  opacity: 0;
  visibility: hidden;
}

.show-menu #line3{
  transform: rotate(-45deg) translate(.4rem, -.48rem);
}

.hamburguer span{
  position: absolute;
  left: 3rem;
  height: 2rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  color: white;
  opacity: 0;
}

.hamburguer span::before{
  content: "";
  position: absolute;
  border-right: .5rem solid orange;
  border-top: .5rem solid transparent;
  border-left: .5rem solid transparent;
  border-bottom: .5rem solid transparent;
  left: -1rem;
}

.show-menu .hamburguer:hover span{
      opacity: 100%;
}
.show-menu .sidebar{
  right: 0;
  border-left: solid 1px orange;
}

.menu1{
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translateX(-50%, -50%);
}

.menu-item{
  text-align: center;
  margin-bottom: .5rem;

}

.menu-link{
  font-family: sans;
  font-size: 2rem;
  color: #555;
  transition: color 1s;
}

.menu-link:hover{
  color: orange;
}

.social-media{
  background-color: orange;
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;   
}

.social-media i{
  color: #ffffff;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media i:hover{
  background-color: rgb(20, 20, 20);
  color: rgb(255, 123, 0);
}

.sidebar{
  width: 20rem;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: -20rem;
  transition: all 1s;
  z-index: 99;
}

.show-menu .sidebar{
  right: 0;
  border-left: solid 1px orange;
}
aside {
  display: block;
}
nav {
  display: block;
}

 
.menu {
   
    border: 1px solid black;
    text-align: center;
    width: auto;
    height: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.521);
   
 }  
.menu tr td {
    background-color: rgba(0, 0, 0, 0.397);
    padding-top: .3rem;
    padding-right: 2rem;
}
.menu button {
    color: white;
   
}
body {
    margin: 0%;
}
td input {
  background-color: rgba(77, 77, 77, 0);
  border: none;
  color: rgb(214, 215, 252)
}
 
td input:hover {
  color: white;
 
}
 
button a {
    text-decoration: none;
    color: white;
}
h2 {
    color: rgba(255, 255, 255, 0.897);
    margin-left: 2rem;
}
.maisGeneros {
    margin-left: 2.5rem;
}
.maisGeneros th {
    border: 1px solid black;
    text-align: center;
    width: auto;
    height: auto;
    background-color: rgba(19, 19, 18, 0.548);
    color: rgba(255, 255, 255, 0.836);
   
   
 }  
 .maisGeneros td {
  border: 1px solid black;
  text-align: center;
  width: auto;
  height: auto;
  background-color: rgba(19, 19, 18, 0.548);
  color: rgba(255, 255, 255, 0.836);
 }
 td {
     padding-right: 2rem;
     padding-left: 2rem;
     padding-top: .3rem;
     padding-bottom: .3rem;
     
 }
 .estiloTD:hover {
  background: aliceblue;
 }
 
td button{
     width: 100%;
     opacity: .8;
     border: none;
     background: none;
     color: rgb(214, 215, 252);
 }
td button:hover {
    opacity: 1;
    cursor: pointer;
}
p {
    color: rgb(241, 241, 255);
}
 
.rodape {
    background-color: black;
    color: white;
}
 
.rodapeEstilo{
  margin-left: 2rem;
}
 
h3 {
    margin: 0;
}
 
 
/*musica*/
.music-container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(44, 57, 65, 0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
  }
 
  .img-container {
    position: relative;
    width: 110px;
  }
 
  .img-container::after {
    content: '';
    background-color: rgb(131, 124, 124);
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, 50%);
  }
 
  .img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
 
    animation-play-state: paused;
  }
 
  .music-container.play .img-container img {
    animation-play-state: running;
  }
 
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
 
    to {
      transform: rotate(360deg);
    }
  }
 
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
 
  .action-btn {
    background-color: rgb(255, 255, 255);
    border: 0;
    color: #221d22;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
  }
 
  .action-btn.action-btn-big {
    color: #221d22;
    font-size: 30px;
  }
 
  .action-btn:focus {
    outline: 0;
  }
 
  .music-info {
    background-color: rgba(125, 141, 151, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
    size: 100vh;
  }
 
  .music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
  }
 
  .music-info h4 {
    margin: 0;
   
  }
 
  .progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
    size: 100vh;
  }
 
  .progress {
    background-color: #000000;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }
/*
.volume-control {
  background: gray;
}

  [type="range"] {
    margin: 0;
    padding: 0;
    width: 52px;
    height: 1.5em;
    background: transparent;
    outline: none;
}

[type="range"],
[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

[type="range"]::-webkit-slider-thumb {
    box-sizing: border-box;
    border: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
}

[type="range"]::-moz-range-thumb {
    box-sizing: border-box;
    border: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
}

 .controls .left-side-controls .volume-control {
    height: 100%;
    display: flex;
}

 .controls .left-side-controls .volume-control .volume-panel {
    position: relative;
    width: 0px;
    transition: width .2s;
    overflow: hidden;
}

 .controls .left-side-controls .volume-control .volume-panel .input-div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 52px;
    height: 3px;
}

.controls .left-side-controls .volume-control .volume-panel .input-div .volume-input-div {
    position: relative;
    width: 100%;
    height: 100%;
    background: #424242;
}

.controls .left-side-controls .volume-control .volume-panel .input-div .volume-input-div input {
    position: absolute;
    top: -8.5px;
    cursor: pointer;
}

.controls .left-side-controls .volume-control .volume-panel .input-div .volume-input-div .volume-progress {
    background: #fff;
    width: 52px;
    height: 100%;
}

.controls .left-side-controls .time-display {
    color: #ffffff;
    font-size: 13px;
    padding: 0 5px;
    height: 100%;
    display: flex;
    align-items: center;
    pointer-events: none;
    user-select: none;
}

.controls .right-side-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

  /*
  section {
    width: 800px;
    height: 300px;
    transform: translate(300px, 100px);
  }

  .sound{
    width: 200px;
    height: 100%;
    float: left;
  }

  svg {
    width: 200px;
    height: 200px;
    margin-top: 50px;
  }

  .volume {
    width: 600px;
    float: left;
  }

  .inputVolume {
    width: 600px;
    -webkit-appearance: none;
    height: 30px;
    background: #dcf1f1;
    outline: none;
    position: relative;
    top: 100px;
    left: 0px;
    overflow: hidden;
  }

  .inputVolume::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: purple;
    cursor: pointer;
    box-shadow: -300px 0 0 300px #00ffc4;
  }

  span {
    position: absolute;
    right: -100px;
    top: 110px;
    font-size: 30px;
    font-weight: bold;
  }
  .sound1{
    display: none;
  }

  */