*{margin:0; padding: 0; box-sizing: border-box;}

.divMenu{display: flex; margin: auto;}
.menu{width: 100%; text-align: center;}
    
    .menu tbody tr td:nth-child(1){width: 10%;}
    .menu tbody tr td:nth-child(2){width: 10%;}
    .menu tbody tr td:nth-child(3){width: 10%;}
    .menu tbody tr td:nth-child(4){width: 10%;}
    .menu tbody tr td:nth-child(5){width: 15%;}
    .menu tbody tr td:nth-child(6){width: 15%;}

@media screen and (min-width: 0) {  /*celulares*/
    .maisPopulares tbody tr td:nth-child(1){width: 25%; height: 35px;}
    .maisPopulares tbody tr td:nth-child(2){width: 25%; height: 35px;}
    .maisPopulares tbody tr td:nth-child(3){width: 25%; height: 35px;}
    .maisPopulares tbody tr td:nth-child(4){width: 25%; height: 35px;}

    


    .divGeneros {
        overflow-x: auto;
    }
    .corDeFundo {
        width: 100%;
    }
    .maisPopulares {
        size: 100%;
    }
    .music-container {
        size: 100%;
    }
    .img-container {
        width: 50px;
    }
    .music-info {
        size: 100%;
    }
   


    .img-container {
        width: 50px;
    }
    .img-container img {
        width: 100px;
    }
    .img-container::after {
        margin-left: 47%;
    }
    .action-btn {
        margin: 0 10px;
        position: relative;
        left:50px;
    }

    .soundFyP {
        font-size: 35px;
    }
    .hamburguer {
        width: 2rem;
        height: 2rem;
    }
    .show-menu #line1{
        transform: rotate(40deg) translate(.2rem, .3rem);
      }
      
      .show-menu #line2{
        opacity: 0;
        visibility: hidden;
      }
      
      .show-menu #line3{
        transform: rotate(-55deg) translate(.4rem, -.45rem);
      }

    .fone {
        width: 18rem;
        padding-left: 5rem;
      }

      .bemVindo {
        font-size: 22px;
    }
    .popularH2 {
        font-size: 35px;
    }
    .maisPopulares {
          width: 93%;
    }
    .maisPopulares th {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px;
    }
    .maisPopulares input {
        font-size: 12px;
        
        font-family: 'Piazzolla', serif;
    }
    .maisPopulares td {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 14px;
    }

    .mainTabela img{
      width: 310px;
    }
      

/*
    .mainTabela thead tr th img:nth-child(1){width: 95%; height: auto;}
    .mainTabela thead tr th img:nth-child(2){width: 30%; height: auto;}
    .mainTabela thead tr th img:nth-child(3){width: 30%; height: auto;}

    .mainTabela tbody tr th img:nth-child(1){width: 95%; height: auto;}
    .mainTabela tbody tr th img:nth-child(2){width: 15%; height: auto;}
    .mainTabela tbody tr th img:nth-child(3){width: 15%; height: auto;}
    .mainTabela tbody tr th img:nth-child(4){width: 15%; height: auto;}
    .mainTabela tbody tr th img:nth-child(5){width: 15%; height: auto;}
    .mainTabela tbody tr th img:nth-child(6){width: 15%; height: auto;}*/
}

@media screen and (min-width: 768px) { /*tablets*/
    .img-container {
        width: 50px;
    }
    .img-container img {
        width: 113px;
    }
    .img-container::after {
        margin-left: 47%;
    }
    .action-btn {
        margin: 0 10px;
        position: relative;
        left:70px;
    }

    .soundFyP {
        font-size: 50px;
    }
    .hamburguer {
        width: 3rem;
        height: 3rem;
    }
    .show-menu #line1{
        transform: rotate(40deg) translate(.5rem, .4rem);
      }
      
      .show-menu #line2{
        opacity: 0;
        visibility: hidden;
      }
      
      .show-menu #line3{
        transform: rotate(-55deg) translate(.7rem, -.43rem);
      }

    .fone {
        width: 40rem;
        padding-left: 12rem;
      }
      .bemVindo {
        font-size: 27px;
    }
    .popularH2 {
        font-size: 35px;
    }
    .maisPopulares {
          width: 92%;
    }
    .maisPopulares th {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
    }
    .maisPopulares input {
        font-size: 18px;
        font-family: 'Piazzolla', serif;
    }
    .maisPopulares td {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
    }

    .mainTabela img{
      width: 232px;
    }


}

@media screen and (min-width: 992px) { /*desktops antigos*/
    .img-container {
        width: 130px;
    }
    
    .img-container img {
        width: 110px;
    }
    .img-container::after {
        margin-left: -10%;
    }
    .action-btn {
        margin: 0 10px;
        position: relative;
        left:10px;
    }

    .soundFyP {
        font-size: 50px;
    }
    .hamburguer {
        width: 4rem;
        height: 4rem;
    }
    .show-menu #line1{
        transform: rotate(40deg) translate(.6rem, .5rem);
      }
      
      .show-menu #line2{
        opacity: 0;
        visibility: hidden;
      }
      
      .show-menu #line3{
        transform: rotate(-55deg) translate(.9rem, -.54rem);
      }

    .fone {
        width: 55rem;
        padding-left: 12rem;
      }

      .bemVindo {
        font-size: 35px;
    }
    .popularH2 {
        font-size: 45px;
    }
    .maisPopulares {
          width: 92%;
    }
    .maisPopulares th {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 26px;
    }
    .maisPopulares input {
        font-size: 25px;
        font-family: 'Piazzolla', serif;
    }
    .maisPopulares td {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 25px;
    }

    .mainTabela img{
      width: 305px;
    }

}

@media screen and (min-width: 1200px) { /*Tv e desktops novos*/
    
    .menu tr td {
        padding-top: .3rem;
        padding-right: 2rem;
    }

    td {
        padding-right: 2rem;
        padding-left: 2rem;
        padding-top: .3rem;
        padding-bottom: .3rem;
        
    }

    .img-container {
        width: 130px;
    }
    
    .img-container img {
        width: 120px;
    }
    .img-container::after {
        margin-left: 0%;
    }
    .action-btn {
        margin: 0 20px;
    }

    .soundFyP {
        font-size: 50px;
    }
    .hamburguer {
        width: 4rem;
        height: 4rem;
    }
    .show-menu #line1{
        transform: rotate(40deg) translate(.6rem, .5rem);
      }
      
      .show-menu #line2{
        opacity: 0;
        visibility: hidden;
      }
      
      .show-menu #line3{
        transform: rotate(-55deg) translate(.9rem, -.54rem);
      }
      

    .fone {
        width: 65rem;
        padding-left: 14rem;
      }
      .bemVindo {
          font-size: 35px;
      }
      .popularH2 {
          font-size: 45px;
      }
      .maisPopulares {
            width: 90%;
      }
      .maisPopulares th {
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 30px;
      }
      .maisPopulares input {
          font-size: 30px;
          font-family: 'Piazzolla', serif;
      }
      .maisPopulares td {
          padding-top: 20px;
          padding-bottom: 20px;
          font-size: 30px;
      }

      .mainTabela img{
        width: 380px;
      }
}