@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  

.corDeFundo {
    background-color: rgba(29, 28, 28, 0.808);
}

.hamburguer{
    background-color: rgba(255, 0, 0, 0);
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
  }
  
  .show-menu .hamburguer{
        right: 16rem;
       
  }
  
  .line{
    width: 100%;
    background-color: white;
    height: .1rem;
    box-shadow: 0.1rem 0.1rem 1px black;
    transition: transform 1s ;
  }
  
  .show-menu #line1{
    transform: rotate(50deg) translate(.3rem, .1rem);
  }
  
  .show-menu #line2{
    opacity: 0;
    visibility: hidden;
  }
  
  .show-menu #line3{
    transform: rotate(-45deg) translate(.4rem, -.48rem);
  }
  
  .hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    opacity: 0;
  }
  
  .hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid orange;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
  }
  
  .show-menu .hamburguer:hover span{
        opacity: 100%;
  }
  .show-menu .sidebar{
    right: 0;
    border-left: solid 1px orange;
  }
  
  .menu1{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translateX(-50%, -50%);
  }
  
  .menu-item{
    text-align: center;
    margin-bottom: .5rem;
  
  }
  
  .menu-link{
    font-family: sans;
    font-size: 2rem;
    color: #555;
    transition: color 1s;
  }
  
  .menu-link:hover{
    color: orange;
  }
  
  .social-media{
    background-color: orange;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;   
  }
  
  .social-media i{
    color: #ffffff;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-media i:hover{
    background-color: rgb(20, 20, 20);
    color: rgb(255, 123, 0);
  }
  
  .sidebar{
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 99;
  }
  
  .show-menu .sidebar{
    right: 0;
    border-left: solid 1px orange;
  }
  aside {
    display: block;
  }
  nav {
    display: block;
  }
  

 
h1 {
    color: white;
}
 
.menu {
   
    border: 1px solid black;
    text-align: center;
    width: auto;
    height: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.521);
   
 }  
.menu tr td {
    background-color: rgba(0, 0, 0, 0.397);
    padding-top: .3rem;
    padding-right: 2rem;
}
.menu button {
    color: white;
   
}
body {
    margin: 0%;
}
 
.imagemAvatar {
    width: 80rem;
    margin-left: 5rem;
}
.minhaContaH1 {
  font-size: 50px;
  margin-left: 2rem;
}
.minhaContaH2 {
  font-size: 40px;
  text-align: center;
}
.minhaContaP {
  font-size: 30px;
  text-align: center;
}
 
button a {
    text-decoration: none;
    color: white;
}
h2 {
    color: rgba(255, 255, 255, 0.897);
}
 
 td {
     padding-right: 2rem;
     padding-left: 2rem;
     padding-top: .3rem;
     padding-bottom: .3rem;
     
 }
 
td button{
     width: 100%;
     opacity: .8;
     border: none;
     background: none;
     color: rgb(214, 215, 252);
 }
td button:hover {
    opacity: 1;
    cursor: pointer;
}
p {
    color: rgb(241, 241, 255);
}
 
.rodape {
    background-color: black;
    color: white;
}
 
.rodapeEstilo{
    margin-left: 2rem;
}
 
h3 {
    margin: 0;
}
