@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  

.corDeFundo {
    background-color: rgba(29, 28, 28, 0.808);
}

.hamburguer{
    background-color: rgba(255, 0, 0, 0);
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
  }
  
  .show-menu .hamburguer{
        right: 16rem;
       
  }
  
  .line{
    width: 100%;
    background-color: white;
    height: .1rem;
    box-shadow: 0.1rem 0.1rem 1px black;
    transition: transform 1s ;
  }
  
  .show-menu #line1{
    transform: rotate(50deg) translate(.3rem, .1rem);
  }
  
  .show-menu #line2{
    opacity: 0;
    visibility: hidden;
  }
  
  .show-menu #line3{
    transform: rotate(-45deg) translate(.4rem, -.48rem);
  }
  
  .hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    opacity: 0;
  }
  
  .hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid orange;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
  }
  
  .show-menu .hamburguer:hover span{
        opacity: 100%;
  }
  .show-menu .sidebar{
    right: 0;
    border-left: solid 1px orange;
  }
  
  .menu1{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translateX(-50%, -50%);
  }
  
  .menu-item{
    text-align: center;
    margin-bottom: .5rem;
  
  }
  
  .menu-link{
    font-family: sans;
    font-size: 2rem;
    color: #555;
    transition: color 1s;
  }
  
  .menu-link:hover{
    color: orange;
  }
  
  .social-media{
    background-color: orange;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;   
  }
  
  .social-media i{
    color: #ffffff;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-media i:hover{
    background-color: rgb(20, 20, 20);
    color: rgb(255, 123, 0);
  }
  
  .sidebar{
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 99;
  }
  
  .show-menu .sidebar{
    right: 0;
    border-left: solid 1px orange;
  }
  aside {
    display: block;
  }
  nav {
    display: block;
  }

  
 
h1 {
    color: white;
    padding-left: .8rem;
}
 
.menu {
   
    border: 1px solid black;
    text-align: center;
    width: auto;
    height: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.521);
   
 }  
.menu tr td {
    background-color: rgba(0, 0, 0, 0.397);
    padding-top: .3rem;
    padding-right: 2rem;
}
.menu button {
    color: white;
   
}
body {
    margin: 0%;
}
 
button a {
    text-decoration: none;
    color: white;
}
h2 {
    color: rgba(255, 255, 255, 0.897);
    padding-left: 1.5rem;
}
.curiosidadeH2 {
  text-align: center;
}

.curiosidadesP {
  
  text-align: center;
  background: black;
    border: solid 3px rgb(80, 76, 76);
}

#curiosidadesIMG {
  padding-left: 35.5rem;
}

td input {
  background-color: rgba(77, 77, 77, 0);
  border: none;
  color: rgb(214, 215, 252)
}
 
td input:hover {
  color: white;
 
}
 
button a {
    text-decoration: none;
    color: white;
}

.maisGeneros th {
  border: 1px solid black;
  text-align: center;
  width: auto;
  height: auto;
  background-color: rgba(19, 19, 18, 0.548);
  color: rgba(255, 255, 255, 0.836);
  
  
}  
.maisGeneros td {
border: 1px solid black;
text-align: center;
width: auto;
height: auto;
background-color: rgba(19, 19, 18, 0.548);
color: rgba(255, 255, 255, 0.836);
}
td {
   padding-right: 2rem;
   padding-left: 2rem;
   padding-top: .3rem;
   padding-bottom: .3rem;
   
}
.estiloTD:hover {
background: aliceblue;
}

td button{
   width: 100%;
   opacity: .8;
   border: none;
   background: none;
   color: rgb(214, 215, 252);
}
td button:hover {
  opacity: 1;
  cursor: pointer;
}
 
 td {
     padding-right: 2rem;
     padding-left: 2rem;
     padding-top: .3rem;
     padding-bottom: .3rem;
     
 }
 
td button{
     width: 100%;
     opacity: .8;
     border: none;
     background: none;
     color: rgb(214, 215, 252);
 }
td button:hover {
    opacity: 1;
    cursor: pointer;
}
p {
    color: rgb(241, 241, 255);
    
}
 
.rodape {
    background-color: black;
    color: white;
}
 
.rodapeEstilo{
    margin-left: 2rem;
}
 
h3 {
    margin: 0;
}

/*musica*/
.music-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(44, 57, 65, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  background-color: rgb(131, 124, 124);
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: rgb(255, 255, 255);
  border: 0;
  color: #221d22;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #221d22;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(125, 141, 151, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
  size: 100vh;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
 
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
  size: 100vh;
}

.progress {
  background-color: #000000;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}


/*musica 1*/
.music-container1 {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(44, 57, 65, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  
}

.img-container1 {
  position: relative;
  width: 110px;
}

.img-container1::after {
  content: '';
  background-color: rgb(131, 124, 124);
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container1 img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container1.play1 .img-container1 img {
  animation-play-state: running;
}


.navigation1 {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn1 {
  background-color: rgb(255, 255, 255);
  border: 0;
  color: #221d22;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn1.action-btn-big1 {
  color: #221d22;
  font-size: 30px;
}

.action-btn1:focus {
  outline: 0;
}

.music-info1 {
  background-color: rgba(125, 141, 151, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
  size: 100vh;
}

.music-container1.play1 .music-info1 {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info1 h4 {
  margin: 0;
 
}

.progress-container1 {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
  size: 100vh;
}

.progress1 {
  background-color: #000000;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}


/*musica 2*/
.music-container2 {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(44, 57, 65, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  
}

.img-container2 {
  position: relative;
  width: 110px;
}

.img-container2::after {
  content: '';
  background-color: rgb(131, 124, 124);
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container2 img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container2.play2 .img-container2 img {
  animation-play-state: running;
}


.navigation2 {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn2 {
  background-color: rgb(255, 255, 255);
  border: 0;
  color: #221d22;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn2.action-btn-big2 {
  color: #221d22;
  font-size: 30px;
}

.action-btn2:focus {
  outline: 0;
}

.music-info2 {
  background-color: rgba(125, 141, 151, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
  size: 100vh;
}

.music-container2.play2 .music-info2 {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info2 h4 {
  margin: 0;
 
}

.progress-container2 {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
  size: 100vh;
}

.progress2 {
  background-color: #000000;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

/*musica 2*/
.music-container3 {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(44, 57, 65, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  
}

.img-container3 {
  position: relative;
  width: 110px;
}

.img-container3::after {
  content: '';
  background-color: rgb(131, 124, 124);
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container3 img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container3.play3 .img-container3 img {
  animation-play-state: running;
}


.navigation3 {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn3 {
  background-color: rgb(255, 255, 255);
  border: 0;
  color: #221d22;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn3.action-btn-big3 {
  color: #221d22;
  font-size: 30px;
}

.action-btn3:focus {
  outline: 0;
}

.music-info3 {
  background-color: rgba(125, 141, 151, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
  size: 100vh;
}

.music-container3.play3 .music-info3 {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info3 h4 {
  margin: 0;
 
}

.progress-container3 {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
  size: 100vh;
}

.progress3 {
  background-color: #000000;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}


/*musica 2*/
.music-container4 {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(44, 57, 65, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  
}

.img-container4 {
  position: relative;
  width: 110px;
}

.img-container4::after {
  content: '';
  background-color: rgb(131, 124, 124);
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container4 img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container4.play4 .img-container4 img {
  animation-play-state: running;
}


.navigation4 {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn4 {
  background-color: rgb(255, 255, 255);
  border: 0;
  color: #221d22;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn4.action-btn-big4 {
  color: #221d22;
  font-size: 30px;
}

.action-btn4:focus {
  outline: 0;
}

.music-info4 {
  background-color: rgba(125, 141, 151, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
  size: 100vh;
}

.music-container4.play4 .music-info4 {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info4 h4 {
  margin: 0;
 
}

.progress-container4 {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
  size: 100vh;
}

.progress4 {
  background-color: #000000;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}