.corDeFundo {
    background-color: rgba(29, 28, 28, 0.808);
}

.menu {
    
    border: 1px solid black;
    text-align: center;
    width: auto;
    height: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.521);
    
 }  
.menu tr td {
    background-color: rgba(0, 0, 0, 0.397);
    padding-top: .3rem;
    padding-right: 2rem;
}
.menu button {
    color: white;
    
}
body {
    margin: 0%;
}
h2 {
    color: rgba(255, 255, 255, 0.897);
}
.maisPopulares, th, td {
    border: 1px solid black;
    text-align: center;
    width: auto;
    height: auto;
    background-color: rgba(19, 19, 18, 0.548);
    color: rgba(255, 255, 255, 0.836);
    
 }  
 td {
     padding-right: 2rem;
     padding-left: 2rem;
     padding-top: .3rem;
     padding-bottom: .3rem;
     
 }

td button{
     width: 100%;
     opacity: .8;
     border: none;
     background: none;
     color: rgb(214, 215, 252);
 }
td button:hover {
    opacity: 1;
    cursor: pointer;
}
p {
    color: rgb(241, 241, 255);
}

.rodape {
    background-color: black;
    color: white;
}
h3 {
    margin: 0;
}